@font-face {
  font-family: jacquard;
  src: url("./assets/fonts/JacquardaBastarda9-Regular.ttf");
}
@font-face {
  font-family: 'oldstandard';
  src: url("./assets/fonts/OldStandardTT-Regular.ttf");
}
@font-face {
  font-family: 'olditalic';
  src: url("./assets/fonts/OldStandardTT-Italic.ttf");
}
@font-face {
  font-family: 'pinyon';
  src: url("./assets/fonts/PinyonScript-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --margin: 40px;
  --lightpink: #fff0ff;
  --lighttrans: rgba(193, 157, 193, 0.25);
  --pink: #ffc4ff;
  --glow: rgba(255, 0, 136, 0.30);
  --pinkshadow: 0 0 15px var(--glow);
}
body{
  width: 100vw;
  height: 100vh;
  background: #FFF0FF;
  background: linear-gradient(180deg, rgba(255, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  font-family: 'oldstandard';
  font-size: 1.2rem;
}
a{
  color: inherit;
  text-decoration: none;
}

/* BASIC STYLES */
.theatre-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
  /* gap: 100px; */
}
.theatre-video{
  width: 80vw;
}
.title-overlay{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  color: var(--lightpink);
  font-family: 'pinyon';
  font-size: 8rem;
  line-height: 8rem;
  padding: 5%;
  text-align: center;
}
.pink-button{
  padding: 10px;
  border-radius: 40px;
  background-color: #ff008845;
  font-size: 2rem;
  box-shadow: 0 0 20px 30px #ff008845;
}
.bigtitle{
  font-family: 'pinyon';
  font-size: 6rem;
}

/* MENU */
#page-menu{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: var(--margin);
  z-index: 100;
  cursor: pointer;
}
#img-navbar{
  position: absolute;
  bottom: var(--margin);
  right: 50vw;
  transform: translateX(50%);
  display: flex;
  gap: 10px;
  width: fit-content;
  z-index: 10;
}
#back-to-works{
  position: absolute;
  top: var(--margin);
  left: var(--margin);
  /* z-index: 40; */
  cursor: pointer;
}

/* ABOUT OVERLAY */
#about-button{
  position: absolute;
  top: var(--margin);
  right: var(--margin);
  z-index: 200;
  cursor: pointer;
}
#about-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  color: var(--lightpink);
  z-index: 100;
  text-align: center;
  padding: 5%;
  background-color: var(--lighttrans);
}

/* LANDING PAGE */
#landing-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10%;
}
#landing-container > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.landing-below{
  z-index: -1;
}

/* PROJECTS PAGE */
#projects-page{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #ceb483;
}
#projects-img-container{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;;
  align-items: center;
  justify-items: center;
  width: 80vw;
  /* height: 80vh; */
  aspect-ratio: 7 / 4;
  /* height: max-content; */
  /* padding: 0 20%; */
}
#projects-img-container > div{
  /* border: 1px solid black; */
  /* justify-self:flex-end ; */
  width: 70%;
}
.projects-img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  /* justify-self: end; */
  /* border: 1px solid red; */
}
#exit-door{
  height: 15vh;
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
}

#projects-about-window{
  z-index: 10;
  position: absolute;
  top: var(--margin);
  right: var(--margin);
}

#projects-about{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  background: rgba(186,186,186,0.3);
  text-align: center;
  padding: 10%;
  color: #FFFFFA;
  opacity: 0;
}

/* EXIT PAGE */
#exit-page{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
#exit-leftgrid{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas: 
    "top-left top-left top-right"
    "center-left center-left center-right"
    "bottom-left bottom-right bottom-right"
    "title title title";
  justify-items: center;
  height: 80vh;
  width: 40vw;
  gap: 70px;
}
.exit-shelf{
  position: relative;
  width: 100%;
}
.exit-shelf::after{
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #CECEB5;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 5px #0000005d;
}
#exit-rightgrid{
  display: inline-grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
  "info chat"
  "info type";
  height: 60vh;
  width: 30vw;
  gap: 30px;
}
#exit-rightgrid div{
  border: 1px solid black;
}
#exit-restart{
  position: absolute;
  top: var(--margin);
  right: var(--margin);
}


/* EVERYONEISAGIRL / ESTER */

#ester-frame{
  width: 50vw;
  aspect-ratio: 4 / 2.5;
  position: absolute;
  top: 15%;
  right: 15%;
  z-index: 5;
  filter: drop-shadow(var(--pinkshadow));
}
.ester-border-container{
  width: 100%;
  height: 40px;
  background-color: #565556;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 0;
  display: flex;
  padding: 14px;
  gap: 8px;
}
.ester-border-container div:not(#progress-ester){
  width: 14px;
  height: 14px;
  /* background-color: red; */
  border-radius: 10px;
  cursor: pointer;
}
#progress-ester{
  color: rgba(255, 255, 255, 0.266);
  justify-self: end;
  width: fit-content;
  margin-left: auto;
  align-self: start;
  font-size: 1rem;
  line-height: 1rem;
}
#ester-text-container{
  background: #3f3f3f;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: var(--pink);
  padding: 40px;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 1.1rem;
  border-radius: 0 0 20px 20px;
  scroll-behavior: smooth;
  position: relative;
  user-select: none;
}
#ester-progress{
  height: 10px;
  width: 50vw;
  background-color: white;
}
#ester-video-frame{
  width: 30vw;
  position: absolute;
  left: 20%;
  top: 35%;
  z-index: 2;
  background-color: purple;
  height: 50vh;
  border-radius: 20px;
  filter: drop-shadow(var(--pinkshadow));
}


/* DEMON LOVERS INC */
#demon-underlay-close{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: -1; */
}
#demon-container{
  position: relative;
}
#demon-panorama-container{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 80vw;
  height: 80vh; */
  position: relative;
  /* top: 100px; */
  z-index: 4;
}
#demon-map-container{
  position: absolute;
  top: 0;
  z-index: 1;
  /* background-color: white; */
  width: 100%;
  height: 100%;
}
.demon-map-item{
  position: absolute;
  cursor: pointer;
}
.demon-map-item img{
  width: 10vw;
}
#demon-address-overlay{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #222;
  padding: 20px 40px;
  color: #ddd;
  font-family: Helvetica;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#demon-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #666;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  font-family: Helvetica;
  font-weight: bold;
}
#demon-bottom-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white
}
#demon-next-btn, #demon-prev-btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #11111188;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.psv-navbar {
  height: 0px !important;
}
.psv-map{
  bottom: 0px !important;
  width: 300px !important;
  pointer-events: none;
  border: 1px solid black;
}
.psv-map__toolbar{
  visibility: hidden;
}
.psv-compass{
  bottom: -40px !important;
}

/* JAMES PATTERSON / WITCHHUNT */
#james-imgs-container{
  display: flex;
  position: relative;
}
.james-img-div{
  width: 40vw;
}
.james-img-div > img {
  width: 100%;
  object-fit: cover;
}


/* PARKER ITO */
#eyes-container{
  /* border: 2px solid green; */
  aspect-ratio: 4 / 2.63;
  width: fit-content;
  max-width: 80vw;
  max-height: 85vh;
  overflow: hidden;
  box-sizing: border-box;
}
#parkerframe{
  /* border: 2px solid red; */
  /* max-width: 90vw; */
  width: 1840px;
  height: 1210px;
  position: relative;
  border: none;
  transform: scale(0.6)
}