@font-face {
  font-family: jacquard;
  src: url("./assets/fonts/JacquardaBastarda9-Regular.ttf");
}
@font-face {
  font-family: 'oldstandard';
  src: url("./assets/fonts/OldStandardTT-Regular.ttf");
}
@font-face {
  font-family: 'olditalic';
  src: url("./assets/fonts/OldStandardTT-Italic.ttf");
}
@font-face {
  font-family: oldbold;
  src: url("./assets/fonts/OldStandardTT-Bold.ttf");
}
@font-face {
  font-family: 'pinyon';
  src: url("./assets/fonts/PinyonScript-Regular.ttf");
}
@font-face {
  font-family: 'google';
  src: url("./assets/fonts/circular-std-medium-500.ttf");
}
@font-face {
  font-family: jacquard24;
  src: url("./assets/fonts/Jacquard24-Regular.ttf");
}
@font-face {
  font-family: web;
  src: url("./assets/fonts/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: webbold;
  src: url("./assets/fonts/IstokWeb-Bold.ttf");
}
@font-face {
  font-family: tages;
  src: url("./assets/fonts/Tagesschrift-Regular.ttf");
}

:root{
  --vh-p: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --margin: 20px;
  --lightpink: #fff0ff;
  --mediumpink: #ffe1ff;
  --lighttrans: rgba(183, 133, 172, 0.538);
  --pink: #ffc4ff;
  --glow: rgba(255, 0, 136, 0.30);
  --pinkshadow: 0 0 15px var(--glow);
  --grey: #d9d9d9;
  --pointer: url('/img/front/pointer-cursor.png') 20 0, pointer;
  --default: url('/img/front/cursor.png') 0 0, auto;
  /* --buttonshadow: rgba(113, 0, 60, 0.557); */
  --buttonshadow: rgba(53, 0, 28, 0.557);
  scroll-behavior: smooth;
  cursor: url('/img/front/cursor.png') 0 0, auto;
}
body{
  width: 100vw;
  height: 100vh;
  background: #FFF0FF;
  background: linear-gradient(180deg, rgba(255, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  font-family: 'oldstandard';
  font-size: 1.2rem;
  cursor: url('/img/front/cursor.png') 0 0, auto;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: var(--pointer);
}

@media (max-width: 600px){
  html, body{
    overflow: hidden;
    max-height: 100svh;
    max-width: 100svw;
    overscroll-behavior: none;
    position: fixed;
    font-size: 1rem;
  }
}

/* --------------- BASIC STYLES --------------- */
.theatre-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
  padding-top: 3dvh;
  position: relative;
  overflow: hidden;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
  /* gap: 100px; */
  position: relative;
  overflow: hidden;
}

.theatre-video{
  /* width: 80vw; */
  height: 75vh;
  z-index: 2;
  position: relative;
}
.title-overlay{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  color: var(--lightpink);
  font-family: 'pinyon';
  font-size: 8rem;
  line-height: 8rem;
  padding: 5% 10%;
  text-align: center;
}
.pink-button{
  padding: 5px;
  border-radius: 40px;
  background-color: #ff008845;
  font-size: 1.5rem;
  line-height: 1.5rem;
  box-shadow: 0 0 20px 30px #ff008845;
  font-family: tages;
}
.bigtitle{
  font-family: 'pinyon';
  font-size: 6rem;
}
.tooltip{
  font-family: jacquard;
  background-color: var(--grey);
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  transform: translate(-50%, -90%);
  z-index: 100;
  pointer-events: none;
  text-align: center;
}

#pop-up-bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightpink);
  z-index: 500;
  position: absolute;
  pointer-events: none;
}
#pop-up-mobile{
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: white;
  pointer-events: all;
  width: 80%;
  padding: 20px;
  box-shadow: var(--pinkshadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
#pop-up-mobile > div:last-child{
  width: fit-content;
  border: 1px solid black;
  padding: 3px 6px;
  border-radius: 10px;
  font-family: web;
  font-size: 1rem;
  box-shadow: inset 2px 6px 5px rgb(240, 240, 240);
  background-color: var(--grey);
}

@media (max-width: 600px){
  .title-overlay{
    width: 100dvw;
    height: 100dvh;
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .theatre-container{
    padding-top: 0;
  }
  .theatre-video{
    width: 90dvw;
    height: auto;
    z-index: 2;
    position: relative;
  }
  .page-container{
    padding-top: 0;
  }
}




/* -------------- LANDING PAGE --------------- */
#landing-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10%;
  overflow: hidden;
  position: relative;
}
#landing-container > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.landing-below{
  /* z-index: -1; */
  pointer-events: none;
}
#landing-dollhouse{
  height: 50vh;
  margin: 20px 0;
  cursor: var(--pointer);
}
.landing-names{
  font-family: jacquard;
}

@media (max-width: 600px){
  #landing-container{
    width: 100dvw;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    background: #FFF0FF;
    background: linear-gradient(180deg, rgba(255, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    height: 100dvh;
    padding-top: 20px;
  }
  #landing-dollhouse{
    height: auto;
    margin: 0;
    width: 70dvw;
  }
  .landing-below{
    cursor: pointer;
    z-index: 10;
    pointer-events: all;
  }
  .landing-names{
    font-size: 12px;
    pointer-events: none;
  }
  #landing-container > div{
    gap: 2px;
  }
}






/* --------------- PROJECTS PAGE --------------- */
#exit-door{
  height: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--margin);
  cursor: var(--pointer);
  z-index: 10;
  filter: drop-shadow(2px 3px 2px var(--buttonshadow));
  pointer-events: "all";
}

#projects-page{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  background-image: url("/img/front/wallpaper.png");
  background-size: 33%;
}
#projects-img-container{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  gap: 1vh;
  align-items: center;
  justify-items: center;
  width: 80vw;
  /* border: 1px solid red; */
  margin-bottom: 30px
  /* height: 80vh; */
  /* aspect-ratio: 7 / 4; */
  /* height: max-content; */
  /* padding: 0 20%; */
}
#projects-img-container > div{
  /* border: 1px solid black; */
  /* justify-self:flex-end ; */
  width: 80%;
  height: 80%;
}
.projects-img-div{
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.projects-img{
  max-width: 100%;
  /* height: 100%; */
  max-height: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: contain;
  /* justify-self: end; */
  /* border: 1px solid green; */
}
.projects-img-active:hover{
  filter: drop-shadow(var(--pinkshadow))
}

#projects-about-window{
  z-index: 15;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: var(--pointer);
  height: 70px;
  filter: drop-shadow(2px 3px 2px var(--buttonshadow));
}

#projects-about{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  background: rgba(146, 139, 135, 0.3);
  text-align: center;
  padding: 10%;
  color: #FFFFFA;
  opacity: 0;
  font-family: tages;
  z-index: 10;
}
#projects-about p{
  z-index: 20;
}

@media (max-width: 600px){
  #projects-page{
    align-items: start;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    /* position: relative; */
    padding-top: 70px;
    padding-bottom: 120px;
  }
  #projects-img-container{
    display: inline-grid;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 16%);
    gap: 0.6%;
    margin: 0;
    width: 90%;
    /* height: 60vh; */
    top: 70px;
    bottom: 120px;
    /* z-index: -1; */
    /* border: 1px solid red; */
  }
  #exit-door{
    height: 60px;
    top: auto;
    bottom: 50px;
    transform: translateY(0%);
    z-index: 40;
  }
  #projects-about-window{
    height: 60px;
    z-index: 55;
  }
  #projects-about{
    padding: 5%;
    z-index: 45;
  }
  #projects-about p{
    font-size: 0.8rem;
  }
}



/* --------------- EXIT PAGE --------------- */

#exit-page-new{
  display: grid;
  grid-template-rows: 14% 18% 34% 12% 14%;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas:
    "top top top"
    "info title chat"
    "info pc chat"
    "info bubble chat"
    "bottom bottom bottom";
  gap: 2%;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  justify-content: space-around;
  padding: 10px 0 20px 0;
  /* align-items: center; */
}
#exit-page-new > div{
  /* border: 1px solid red; */
}

.exit-shelves-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.exit-shelf{
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 70%;
  padding: 0 10px;
}
.exit-shelf::after{
  content: '';
  bottom: -10px;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #FFEBFF;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 5px #0000005d;
  z-index: -1;
}

.exit-shelf img{
  height: 100%;
}

#exit-new-info-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
}
#exit-new-info-info{
  width: 90%;
  background-color: white;
  border: 1px solid black;
  box-shadow: var(--pinkshadow);
  font-family: web;
  font-size: min(2vh, 1vw);
  line-height: min(2.4vh, 1.2vw);
  padding: 15px;
}
#exit-new-info-info div{
  margin: 5px;
}
#exit-new-info-btns{
  display: flex;
  gap: 10px;
}

#exit-dollhouse{
  height: 15vh;
  cursor: var(--pointer);
  z-index: 10;
}

#exit-new-title{
  font-family: jacquard;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;
  line-height: 4vh;
  gap: 1vh;
  justify-content: center;
}

#exit-new-bubble{
  display: flex;
  align-items: end;
}
#exit-page-new .pink-button{
    font-size: 1.7vw;
    box-shadow: 0 0 25px 20px #ff008845;
  }
#exit-new-computer{
  height: 100%;
}
#exit-new-computer-shelf{
  /* border: 1px solid red; */
  height: 100%;
  position: relative;
}
#exit-new-pc-screen{
  position: absolute;
  background-color: black;
  top: 5%;
  bottom: 32%;
  left: 11%;
  right: 12%;
}
#exit-new-chatdiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#exit-new-dates{
  font-family: web;
  font-size: 0.8rem;
  line-height: 0.9rem;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid black;
  box-shadow: var(--pinkshadow);
}
#exit-new-dates > div{
  margin: 5px 0;
}
#exit-new-dates span{
  font-family: webbold;
}
#exit-chat-nomessages{
  opacity: 0.5;
  font-family: olditalic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.exit-btn{
  /* font-weight: bolder; */
  padding: 2px 4px;
  box-shadow: inset 0 4px 5px rgb(219, 219, 219), 1px 2px 3px rgba(0,0,0,0.7);
  background-color: var(--grey);
  border: 1px solid black;
  width: max-content;
  cursor: var(--pointer);
  font-family: web;
  font-size: 0.9rem;
  /* bottom: -15px; */
  /* bottom: 50px; */
}


/* --------------- GUEST BOOK --------------- */
#exit-chatcontainer{
  overflow: scroll;
  font-family: web;
  font-size: 0.9rem;
  height: 100%;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: var(--pinkshadow);
  position: relative;
}
#exit-typecontainer{
  background-color: white;
  padding: 10px 20px;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  height: max-content;
  box-shadow: var(--pinkshadow);
}
textarea{
  resize: vertical;
  margin: 0;
}
#exit-typecontainer > div:first-child{
  width: 100%;
}
#exit-typecontainer > div:last-child{
  height: fit-content;
  align-self: center;
}

@media (max-width: 600px){
  #exit-page-new{
    grid-template-rows: min-content 8% 10% 62% 8%;
    grid-template-columns: 100%;
    grid-template-areas:
      "button"
      "top"
      "bubble"
      "chat"
      "bottom";
    gap: 2%;
    width: 100vw;
    height: 100dvh;
    justify-items: center;
    justify-content: space-around;
    padding: 10px 20px 20px 20px;
    background: linear-gradient(180deg, rgba(255, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);;
    /* align-items: center; */
  }
  #exit-new-infobutton{
    justify-self: end;
    /* margin: 0 10px; */
    background-color: var(--pink);
    box-shadow: inset 0 4px 5px rgb(255, 213, 238), 1px 2px 3px rgba(0,0,0,0.7);
    z-index: 30;
  }
  #exit-page-new .pink-button{
    font-size: 3dvh;
    box-shadow: 0 0 15px 15px #ff008845;
  }
  .exit-shelf{
    z-index: 10;
  }
  #exit-new-overlay-mobile{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    background: linear-gradient(180deg, rgba(255, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    justify-content: space-between;
    padding: 60px 20px 30px 20px
  }
  #exit-new-info-info{
    font-size: 2dvh;
    line-height: 2dvh;
  }
  #exit-new-title{
    font-size: 12dvw;
    gap: 1px;
  }
}

/* OLD */

#exit-page{
  display: flex;
  justify-content: center;
  gap: 5vw;
  /* justify-content: space-around; */
  align-items: center;
  /* align-items: flex-end; */
  height: 100vh;
}
#exit-leftgrid{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 25vh 15vh;
  grid-template-areas: 
    "top-left top-left top-right"
    "center-left bottom-right bottom-right"
    "bottom-left bottom-right bottom-right"
    "title title title";
  justify-items: center;
  height: 90vh;
  width: 40vw;
  gap: 30px 50px;
  /* margin-left: 10vw; */
}
#exit-left{
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  width: 30%;
}
#exit-center{
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#exit-right{
  width: 20%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70%;
  gap: 40px;
}
#exit-whowatches{
  position: absolute;
  bottom: 12vh;
}

.centered-shelf{
  justify-content: center;
}

.exit-img-div{
  /* border: 1px solid black; */
  /* height: 100%; */
  /* height: 17vh; */
  width: fit-content;
  display: flex;
  position: relative;
  padding: 0 20px;
  align-items: flex-end;
}
.exit-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  /* border: 1px solid red; */
}
.exit-img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey);
  font-family: jacquard;
  font-size: 1rem;
  line-height: 1rem;
  max-width: 130%;
  width: max-content;
  text-align: center;
}
#exit-signup{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  text-align: center;
  width: 84%;
  font-family: web;
  line-height: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  overflow: hidden;
}
#exit-signup > div:first-of-type{
  color: white;
  padding: 10px 0;
  background-color: black;
  border-radius: 5px;
  overflow: scroll;
}
#exit-signup > div > div:not(:last-child){
  margin-bottom: 7px;
}
#exit-comp-btns{
  position: absolute;
  left: 50%;
  font-size: 1rem;
  transform: translateX(-50%);
  font-family: web;
  bottom: 50px;
  display: flex;
  gap: 10px;
}

/* #exit-email-btn{
  padding: 2px 4px;
  box-shadow: inset 0 4px 5px rgb(219, 219, 219), 1px 2px 3px rgba(0,0,0,0.7);
  background-color: var(--grey);
  border: 1px solid black;
  width: max-content;
  cursor: var(--pointer);
  font-family: web;
  font-size: 0.9rem;
  bottom: -15px;
  bottom: 15px;
} */
#exit-rightgrid{
  display: inline-grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
  "info chat"
  "info type";
  height: 80vh;
  width: 40vw;
  gap: 20px 30px;
  margin-right: 2vw;
}
#exit-rightgrid > div{
  border: 1px solid black;
  background-color: white;
  box-shadow: var(--pinkshadow);
  padding: 20px 10px;
}
#exit-info-title{
  font-family: jacquard;
  text-align: center;
  /* font-size: 5vh; */
  /* line-height: 5vh; */
  /* font-size: 2vh; */
  justify-self: flex-start;
  /* border: 1px solid red; */
  /* width: 300px; */
  width: 100%;
}
#exit-info-text{
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 20px 5px 0 5px;
  font-family: web;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 80%; */
}
#exit-info-text div{
  margin: 10px 0;
}
#exit-info-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto 0 20px 0;
}

#exit-restart{
  position: absolute;
  top: 20px;
  right: var(--margin);
  height: 8vh;
  cursor: var(--pointer);
  z-index: 10;
}





/* --------------- MENU --------------- */
#page-menu{
  /* position: absolute;
  bottom: 0;
  right: 0;
  margin: var(--margin); */
  z-index: 100;
  cursor: var(--pointer);
  height: 40px;
}
#page-menu > img{
  cursor: var(--pointer);
  height: 100%;
}
#img-navbar{
  /* position: absolute;
  bottom: var(--margin);
  right: 50vw;
  transform: translateX(50%); */
  display: flex;
  gap: 10px;
  width: fit-content;
  z-index: 100;
  align-items: center;
  /* border: 1px solid red; */
}
#page-menu-gradient{
  /* border: 1px solid green; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 30;
  background: linear-gradient(180deg, rgba(179, 179, 179, 0) 0%, rgba(179, 179, 179, 1) 60%);
  pointer-events: none;
  cursor: var(--default);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--margin);
}
#page-menu-next{
  cursor: var(--pointer);
  z-index: 5;
  margin-left: 20px;
  filter: drop-shadow(2px 3px 2px var(--buttonshadow));
  height: 40px;
  pointer-events: all;
}
.nav-img{
  height: 40px;
  width: 40px;
  cursor: var(--pointer);
  display: flex;
  justify-content: center;
  pointer-events: all;
}
#back-to-works{
  position: absolute;
  top: 50%;
  left: var(--margin);
  transform: translateY(-50%);
  cursor: var(--pointer);
  height: 70px;
  z-index: 5;
  filter: drop-shadow(2px 3px 2px var(--buttonshadow));
  /* border: 1px solid red; */
}
#back-to-works img{
  cursor: var(--pointer);
}

@media (max-width: 600px){
  #back-to-works{
    height: 70px;
    top: auto;
    bottom: 50px;
    transform: translateY(0%);
    z-index: 40;
  }
  #img-navbar{
    gap: 0;
    width: 100%;
    background-color: rgb(163, 163, 163);
    border-radius: 15px;
  }
  #page-menu-gradient{
    height: 120px;
    align-items: end;
    padding: 10px var(--margin);
    background: linear-gradient(180deg, rgba(179, 179, 179, 0) 0%, rgba(179, 179, 179, 1) 40%);

  }
  .nav-img{
    height: 30px;
    width: 30px;
  }
  #page-menu-next{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
  }
}





/* ------------- ABOUT WORKS OVERLAY ---------------- */
#about-button{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  cursor: var(--pointer);
  height: 70px;
  filter: drop-shadow(2px 3px 2px var(--buttonshadow));
}
#about-button img{
  cursor: var(--pointer);
}
#about-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(10px);
  color: var(--lightpink);
  z-index: 100;
  text-align: center;
  padding: 10% 5% 5% 5%;
  background-color: var(--lighttrans);
}
#about-overlay div:not(#demon-underlay-close){
  z-index: 20;
}



/* --------------------------------------------- PROJECTS --------------------------------------------- */

/* --------------- TEXTS --------------- */
.text-container{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: column; */
  width: 100%;
  height: 100vh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
  overflow-y: scroll;
  padding: 15vh 20vw 15vh 20vw;
  /* gap: 100px; */
}
.text-container > div{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid black; */
  overflow-y: scroll;
}
.text-page-before{
  text-align: center;
  margin-bottom: 5vh;
  /* border: 1px solid green; */
}
.text-page-title{
  font-family: jacquard24;
  font-size: 10rem;
  text-align: center;
  color: white;
  filter: drop-shadow(var(--pinkshadow));
  overflow: visible;
}
.text-page-subtitle{
  font-family: jacquard;
  font-size: 2rem;
  color: #F1B0E6;
  background-color: black;
  line-height: 2.2rem;
  margin-bottom: 10vh;
  text-align: center;
  max-width: 100%;
  width: fit-content;
}
.text-page-normal{
  margin: 15px 0;
  width: 100%;
}
.text-page-center{
  width: 70%;
  font-family: olditalic;
  align-self: center;
  margin: 15px 0;
}
.text-page-chat-left{
  max-width: 65%;
  /* font-family: olditalic; */
  align-self: flex-start;
  margin: 15px 0 15px 14%;
  background-color: var(--lightpink);
  border-radius: 15px;
  padding: 7px 12px;
  position: relative;
}
.text-page-chat-left::after{
  content: '';
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: var(--lightpink);
	border-left: 0;
	border-top: 0;
	margin-top: -7.5px;
	margin-left: -12px;
}
.text-page-chat-right{
  max-width: 65%;
  /* font-family: olditalic; */
  align-self: flex-end;
  margin: 15px 14% 15px 0;
  background-color: #3e3e3e;
  color: #F1B0E6;
  border-radius: 15px;
  padding: 7px 12px;
  position: relative;
}
.text-page-chat-right::after{
  content: '';
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #3e3e3e;
	border-right: 0;
	border-top: 0;
	margin-top: -7.5px;
	margin-right: -12px;
}
.text-page-italic{
  font-family: olditalic;
}
sup{
  line-height: 0.8rem;
}
.text-page-reference{
  font-size: 0.8rem;
  text-decoration: underline;
  font-family: oldbold;
  margin-left: 2px;
  line-height: 0.1rem;
}
.text-page-footnote{
  font-size: 1rem;
  margin-top: 10px;
  text-align: left;
  align-self: flex-start;
}

@media (max-width: 600px){
  .text-container{
    width: 100svw;
    padding: 15vh 5svw 15vh 5svw;
  }
  .text-page-before{
    text-align: center;
    margin-bottom: 3vh;
  }
  .text-page-title{
    font-size: 4rem;
  }
  .text-page-subtitle{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 5svh;
  }
  .text-page-center{
    width: 90%;
  }
  .text-page-chat-left{
    max-width: 85%;
    margin: 5px 0 5px 12px;
  }
  .text-page-chat-right{
    max-width: 68%;
    margin: 5px 12px 5px 0;
  }
}







/* --------------- DEMON LOVERS INC --- 02 --------------- */
/* #demon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
  position: relative;
  overflow: hidden;
} */

#demon-underlay-close{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
#demon-container{
  position: relative;
  /* border: 1px solid red; */
  height: 80%;
  display: flex;
  align-items: center;
}
#demon-panorama-container{
  position: relative;
  z-index: 4;
  box-shadow: 0 2px 20px #78134b88;
}
#demon-panorama-container{
  position: absolute;
  z-index: 4;
  box-shadow: 0 2px 20px #78134b88;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid blue; */
}
/* #demon-map-container{
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  object-fit: contain;
  left: 50%;
  transform: translate(-50%);
  will-change: transform;
} */
 #demon-map-container{
  position: relative;
  height: 100%;
  /* border: 2px solid green; */
 }

#demon-map-img{
  object-fit: contain;
  height: 100%;
  /* position: relative; */
}
.demon-map-item{
  position: absolute;
  cursor: var(--pointer);
}
.demon-map-item img{
  width: 20px;
  filter: drop-shadow(0 0 5px var(--glow))
}
#demon-address-overlay{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #222;
  padding: 15px 30px;
  color: #ddd;
  font-family: Helvetica;
  border-radius: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#demon-loading-map{
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 50;
  font-family: olditalic;
  color: rgba(133, 133, 133, 0.7)
}
#demon-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #525252b5;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: var(--pointer);
  font-family: Helvetica;
  font-weight: bold;
  padding: 6px;
}
#demon-bottom-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
#demon-next-btn, #demon-prev-btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #39393966;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  padding: 6px;
}
.psv-navbar {
  height: 0px !important;
}
.psv-map{
  bottom: 0px !important;
  width: 250px !important;
  height: 125px !important;
  pointer-events: none;
  border: 1px solid black;
}
.psv-map__toolbar{
  visibility: hidden;
}
.psv-compass{
  bottom: -40px !important;
}

@media (max-width: 600px){
  #demon-container{
    align-items: start;
  }
  #demon-map-container{
    /* height: 50%; */
    width: 90vw;
    height: 80vw;
    margin-top: 80px;
  }
  #demon-address-overlay{
    padding: 10px 10px;
    font-size: 0.6rem;
    gap: 5px;
  }
  #demon-bottom-center{
    left: 0;
    transform: translateY(50%);
    bottom: 50%;
    width: 100%;
    margin: 0px;
    pointer-events: none;
  }
  .psv-map{
    bottom: 0px !important;
    width: 120px !important;
    height: 70px !important;
    pointer-events: none;
    border: 1px solid black;
  }
  #demon-panorama-container{
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* --------------- ANGEL KETHER / ESLISKA --- 03 --------------- */
#kether-imgdiv{
  height: 70vh;
  width: 70vh;
}
#kether-imgdiv img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 600px){
  #kether-imgdiv{
    height: 80svw;
    width: 80svw;
  }
}




/* --------------- EVERYONEISAGIRL / ESTER --- 04 --------------- */

#ester-frame{
  width: 50vw;
  aspect-ratio: 4 / 2.5;
  position: absolute;
  top: 15%;
  right: 15%;
  z-index: 5;
  filter: drop-shadow(var(--pinkshadow));
}
.ester-border-container{
  width: 100%;
  height: 40px;
  background-color: #565556;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 0;
  display: flex;
  padding: 14px;
  gap: 8px;
}
.ester-border-container div:not(#progress-ester){
  width: 14px;
  height: 14px;
  /* background-color: red; */
  border-radius: 10px;
  cursor: var(--pointer);
}
#progress-ester{
  color: rgba(255, 255, 255, 0.266);
  justify-self: end;
  width: fit-content;
  margin-left: auto;
  align-self: start;
  font-size: 1rem;
  line-height: 1rem;
}
#ester-text-container{
  background: #3f3f3f;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: var(--pink);
  padding: 40px;
  box-sizing: border-box;
  font-family: web;
  font-size: 1rem;
  line-height: 1.1rem;
  border-radius: 0 0 20px 20px;
  scroll-behavior: smooth;
  position: relative;
  user-select: none;
}
#ester-progress{
  height: 10px;
  width: 50vw;
  background-color: white;
}
#ester-video-frame{
  width: 30vw;
  position: absolute;
  left: 20%;
  bottom: 17%;
  z-index: 2;
  background-color: purple;
  height: 50vh;
  border-radius: 20px;
  filter: drop-shadow(var(--pinkshadow));
}

@media (max-width: 600px){
  #ester-text-container{
    padding: 20px;
    font-size: 0.9rem;
    line-height: 1rem;
    border-radius: 0 0 15px 15px;
  }
  .ester-border-container{
    border-radius: 15px 15px 0 0;
  }

}


/* --------------- JAMES PATTERSON / WITCHHUNT --- 05 --------------- */
#james-imgs-container{
  display: flex;
  position: relative;
}
.james-img-div{
  height: 75vh;
}
.james-img-div > img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px){
  #james-imgs-container{
    flex-direction: column;
  }
  .james-img-div{
    height: 42dvh;
  }
}




/* --------------- NOURA TAFECHE --- 06 --------------- */
#noura-coverart{
  position: absolute;
  left: 35%;
  top: 40%;
  transform: translate(-50%, -50%)
}
#noura-iframe{
  position: absolute;
  width: 600px;
  height: 450px;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  filter: drop-shadow(var(--pinkshadow));
  z-index: 2;
}
#noura-iframe iframe{
    width: 600px;
    height: 450px;
    /* aspect-ratio: 4 / 3; */
  }
#noura-button{
  width: fit-content;
}
#noura-info{
  width: 200px;
  position: absolute;
  top: 25%;
  right: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
}
.noura-file{
  /* height: 53vh; */
  height: 29vw;
  position: absolute;
  /* bottom: -250px; */
  display: inline-block;
  cursor: var(--pointer);
}
.noura-file img{
  cursor: var(--pointer);
  pointer-events: fill;
  filter: drop-shadow(0 5px 5px rgba(52, 52, 52, 0.497));
  /* width: 100%; */
}
#noura-right{
  position: absolute;
  right: 2%;
  /* bottom: -21%; */
  top: 65vh;
}
#noura-center{
  position: absolute;
  right: 6%;
  /* bottom: -28%; */
  top: 72vh;
}
#noura-left{
  position: absolute;
  right: 8%;
  /* bottom: -35%; */
  top: 79vh;
}

#noura-mobilepopup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: fit-content;
  border: 1px solid red;
  background-color: white;
  padding: 20px;
  border: 1px solid var(--pink);
  border-radius: 15px;
  max-width: 90%;
  box-shadow: 0 0 40px 30px rgba(67, 67, 67, 0.7);
}

.page-container{
  width: 100%;
  height: 100vh;
  background: #FFC4FF;
  background: linear-gradient(180deg, rgba(255, 196, 255, 1) 0%, rgba(179, 179, 179, 1) 100%);
  padding-top: 90px;
  overflow:hidden;
  position: relative;
}

@media (max-width: 600px){
  #noura-iframe iframe{
    width: 90svw;
    height: auto;
    aspect-ratio: 4 / 3;
  }
  #noura-iframe{
    left: 5%;
    top: 100px;
    transform: translate(0%, 0%);
    width: fit-content;
    position: static;
    height: fit-content;
  }
  #noura-info{
    /* top: 500px; */
    /* right: 50%;
    transform: translateX(50%); */
    z-index: 10;
    position: static;
    width: fit-content
  }
  .noura-file{
    height: 55dvw;
    position: static;
  }
  #noura-right{
    /* position: static; */
    right: 2%;
    top: 110%;
    /* top: 56%; */
    /* bottom: 55dvw; */
  }
  #noura-center{
    /* position: static; */
    right: 10%;
    top: 120%;
    /* top: 60%; */
    /* bottom: -7%; */
    /* bottom: 55dvw; */
  }
  #noura-left{
    /* position: static; */
    right: 14%;
    top: 130%;
    /* top: 64%; */
    /* bottom: -11%; */
    /* bottom: 55dvw; */
  }
  #noura-page-container{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100dvw;
    gap: 20px;
    /* border: 1px solid blue; */
    position: relative;
  }
}


/* --------------- PARKER ITO --------------- */
#eyes-container{
  aspect-ratio: 4 / 2;
  width: fit-content;
  max-width: 80vw;
  max-height: 75vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid blue; */
}
#parkerframe{
  /* max-width: 90vw; */
  width: 1840px;
  height: 1210px;
  position: relative;
  border: none;
  transform: scale(0.6);
  overflow: hidden;
  border: 1px solid red;
}

@media (max-width: 600px){
  #eyes-container{
    max-width: 90svw;
    width: 90svw;
    aspect-ratio: 4 / 3;
  }
  #parkerframe{
    /* transform: scale(0.3); */
  }
}